<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宝贝家园后台管理系统</title>
    <link rel="stylesheet" href="/admin-css/common.css">
</head>
<body>
<% include header.ejs%>
<!--结束-->

<main>
    <div class="container">
        <section>
            <% if(common[0].length > 0){ %>
            <% for(var i = 0;i < common[0].length;i++) { %>
            <div class="news" >
                <div class="news-top">
                    <div class="newsinfo">
                        <div class="adminPhone"><%= common[0][i].adminPhone %></div>
                    </div>
                    <div id="delete">
                        <a  href="/admin/deletecommon?commonId=<%=common[0][i].commonId%>"  onclick="return confirm('请确定要删除此常识吗？')">删除</a>
                    </div>
                </div>
                <!--显示动态文字内容的位置-->
                <div class="newsContent"><%= common[0][i].commonTitle %></div>
                <div class="newsContent"><%= common[0][i].commonContent %></div>
                <hr style="clear: both">
            </div>
            <% } %>
            <% } %>
            <div class="page"  >
                <div >
                    <!--计算总共有页pageNumber-->
                    <%
                    var totalPageNumber;//总共有页
                    var totalCount = totalCount[0].TotalCount;
                    if (totalCount % pageSize == 0) {totalPageNumber = totalCount / 5;}
                    else {totalPageNumber = parseInt(totalCount / 5) + 1;}
                    %>
                    <!--*************分页***************-->
                    总共<%= totalCount %>条, 第<%= page %>页/共<%= totalPageNumber %>页 &nbsp;&nbsp;&nbsp;
                    <!-- 对上一页下一页做一个处理，防止越界 if  else  -->
                    <%if(parseInt(page) > 1){%>
                    <!--上一页-->
                    <a href="common?page=1">首页</a>
                    <a href="common?page=<%= page - 1 %>"> 上一页</a>
                    <%} else {%>
                    首页&nbsp; 上一页
                    <%}%>
                    <%if(parseInt(page) < totalPageNumber){%>
                    <a href="common?page=<%= parseInt(page) + 1 %>"> 下一页</a>
                    <a href="common?page=<%= totalPageNumber %>"> 末页</a>
                    <%} else {%>
                    下一页&nbsp; 末页&nbsp;
                    <%}%>
                </div >
                <div  >
                    <form action="common" >
                        跳转第 <input style="width: 20px;" type="text" value="<%= page %>" name="page">页&nbsp;&nbsp;     <input type="submit" value="跳转">
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
</div>
<footer style="margin: 20px 0 ">
    <p style="text-align: center;color: #000;font-size: 12px">Copyright © 2016 高博H04班第十小组 粤ICP备13070746号</p>
</footer>
</body>
</html>